.Graph {
  display: grid;
  width: 100%;
  height: 100%;
}

.GraphTitle {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-items: stretch;
  justify-content: space-between;
  align-items: center;
}

.TitleButtons {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 5px;
}

@media only screen and (max-width: 1400px) {
  .Graph {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .GraphTitle {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
  }
}
