@media only screen and (min-width: 1400px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media only screen and (max-width: 1400px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.App .item {
  padding: 5px;
}

.TokenContainer {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-content: center;
}

.TokenContainer .body {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
