.Car {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
}

.Car img {
  height: 350px;
}

.Car .carImage {
  align-content: center;
  justify-content: center;
  display: flex;
}

.Car .actions {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 10px;
  align-content: center;
}

.Car .status {
  height: 250px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 1400px) {
  .Car {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  .Car .status {
    width: 50px;
    height: 100%;
    display: block;
    align-content: center;
    justify-content: center;
  }
}
