.Title {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-bottom: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 1400px) {
  .Tesla {
    width: calc(100vw - 20px);
    overflow: hidden;
  }

  .Title {
    grid-template-columns: max-content;
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 100vw;
  }

  h6 {
    font-size: 13px !important;
  }
}

.Title img {
  height: 35px;
}

.ButtonsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 5px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1400px) {
  .ButtonsContainer {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    margin-bottom: 15px;
  }
}
