.Tesla {
  width: 100vw;
  overflow: hidden;
}

.Title {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-bottom: 5px;
}

.Title img {
  height: 35px;
}

.ButtonsContainer {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 5px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1400px) {
  .ButtonsContainer {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    margin-bottom: 15px;
  }
}
